<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="FarmerPlusWebServices.HelloWorldServiceBehavior"
        name="FarmerPlusWebServices.HelloWorldService">
        <endpoint address="" binding="wsHttpBinding" name="FarmerPlus"
          contract="FarmerPlusWebServices.IHelloWorldService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/FarmerPlusWebServices/HelloWorldService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="FarmerPlusWebServices.WeatherServices">
        <endpoint address="" binding="wsHttpBinding" contract="FarmerPlusWebServices.IWeatherServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/FarmerPlusWebServices/WeatherServices/" />
          </baseAddresses>
        </host>
      </service>
      <service name="FarmerPlusWebServices.CommonHelperService">
        <endpoint address="" binding="wsHttpBinding" contract="FarmerPlusWebServices.ICommonHelperService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/FarmerPlusWebServices/CommonHelperService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="FarmerPlusWebServices.CropHelperServices">
        <endpoint address="" binding="wsHttpBinding" contract="FarmerPlusWebServices.ICropHelperServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/FarmerPlusWebServices/CropHelperServices/" />
          </baseAddresses>
        </host>
      </service>
      <service name="FarmerPlusWebServices.CommonService2">
        <endpoint address="" binding="wsHttpBinding" contract="FarmerPlusWebServices.ICommonService2">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/FarmerPlusWebServices/CommonService2/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FarmerPlusWebServices.HelloWorldServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Driver={MySQL ODBC 3.51 Driver};Server=localhost:3306;Database=myDB;uid=root;pwd=myPassword;option=3" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="ConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=Mufassar-PC)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCL)));User Id=mufassar;Password=mufassar123;" providerName="System.Data.OracleClient" />-->

  </connectionStrings>
  <appSettings>

    <add key="ConnectionStringTag" value="Server=localhost;Database=farmerplus; Uid=root;Pwd=root; Connect Timeout=30;"/>

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
